body {
  text-align: center;
  min-height: 40rem;
  background: grey;
  padding: 2rem;
  font-family: sans-serif;
}

.main {
    display: flex;
    justify-content: space-around;
}

.poem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: .75rem;
  font-weight: 200;
  background: white;
  border-radius: 2rem;
  width: fit-content;
}

.poem-container :nth-child(even) {
  margin-left: 1rem;
}


.image {
    width: 20rem;
}

.image-container {
    width: 20rem;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.image-container:hover {
    cursor: pointer;
}

.image-container:hover .image-subtitle-container, .image-container.hover .image-subtitle-container { 
    display: block; 
}


.image-subtitle {
    text-align: center;
    font-weight: bolder;
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: .3rem;
    color: white;
}

.image-subtitle-container {
   position: absolute;
   bottom: .5rem;
   width: 100%;
    display: none;
}

.line:hover {
    transition: all .2s;
    font-weight: bolder;
    border-radius: 4px;
    padding: .2rem;
    cursor:pointer;
    background: lightblue;
}