body {
  text-align: center;
  min-height: 40rem;
  background: grey;
  padding: 2rem;
  font-family: sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
}

.poem-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  font-weight: 500;
  background: white;
  border-radius: 2rem;
  /* margin: 3rem; */
  width: fit-content;
}

.line-even{
  margin-left: 1rem;
}

.image {
    width: 20rem;
}

.image-container {
    width: 20rem;
    display: flex;
    position: relative;
}

.image-subtitle {
    text-align: center;
    font-weight: bolder;
    background: white;
}

.image-subtitle-container {
   position: absolute;
   bottom: .5rem;
   width: 100%;
}